<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--        自动转驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <package name="com.mybatis.dao.entity"/>
    </typeAliases>

    <plugins>
        <!--分页插件-->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="oracle"/>
            <property name="offsetAsPageNum" value="false"/>
            <property name="rowBoundsWithCount" value="false"/>
            <property name="pageSizeZero" value="true"/>
            <property name="reasonable" value="true"/>
            <property name="supportMethodsArguments" value="false"/>
            <property name="returnPageInfo" value="none"/>
        </plugin>
        <!--权限插件-->
        <plugin interceptor="com.auth.plugin.AuthPlugin">
            <property name="dialect" value="oracle"/>
            <property name="sqlType" value="SIMPLE"/>
            <property name="authColumnCheck" value="true"/>
            <property name="authColumn" value="CITY_ID##Number@@ACCOUNT_ID##String"/>
            <property name="relationTypeEnum" value="AND"/>
        </plugin>
    </plugins>


</configuration>
